#street-view {
    width: 800px;
    max-height: 500px;
    margin: 10px auto 200px auto;
}

#mainHeader {
    text-align: center;
    padding-top: 40px;
    font-family: OpenSans Semibold;
}

#body {
    margin: 100px 250px 50px 250px; 
    text-align: center;
    font-family: OpenSans;
    font-size: 13px;
}

ul {
    float: left;
    margin: 0 750px 0 750px; 
    font-family: OpenSans; 
    font-size: 13px;    
}
.column{
    clear:both;
}
.column ul {
    
    width: 30em;
    margin: 1em;
}

/** 2 lists, put next to each other with 50% width, float left, into columns