#street-view {
    width: 800px;
    max-height: 500px;
    margin: 10px auto 200px auto;
}

#mainHeader {
    text-align: center;
    padding-top: 40px;
    font-family: OpenSans Semibold;
}

#body {
    margin: 100px 250px 100px 250px; 
    text-align: center;
    font-family: OpenSans;
    font-size: 13px;
}

ul {
    margin: 0 750px 0 750px 
    
}


/** 
    Cost of living
    Overall Experience
    Student Support
    Campus Safety
    Part-time job options
    Diversity
    Campus Location
    Services & Facilities
    City & Culture
    Social Life
    Transportation
    Campus Food
    Sport Facilities
    Nightlife